#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

.card{
  background-color: gray;
  width: 300px;
  padding: .5rem;
  margin: 2px;
  border-radius: 10px;
  list-style-type: none;
}
.card > div {
  text-align: left;
  ul > li{
    list-style-type: none;
  }
}


.puppyList{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}
